#players-list {
  border-radius: 1rem;
}
.ui.segment {
  text-align: center;
}
.ui.blue.segment:not(.inverted) {
  border-top: 2px solid;
  background: #2185d0;
  background-image: url("./background.gif");
  background-size: 100% 100%;
  color: white;
  text-align: center;
}
