#players-list {
  border-radius: 0;
}
.ui.blue.segment:not(.inverted) {
  border-top: 2px solid;
  background: #2185d0;
  background-image: url("./background.gif");
  background-size: 100% 100%;
  color: white;
}
