.playersGrid {
  padding: 2rem 0 0 !important;
}

.playerIcon {
  color: white;
}

.playerSelectButton {
  opacity: 0.7 !important;
}

.startLabelContainer {
  display: flex;
  justify-content: center;
}

.playerName {
  font-size: 1rem;
  @media screen and (max-width: 480px) { 
    font-size: .75rem;
    margin: -.5rem;
  }
}

.startLabel {
  font-weight: bold !important;
  font-size: 0.75rem !important;
  padding: 0.3rem 0.6rem !important;
  box-shadow: 0 2px 6px rgba(33, 133, 208, 0.3) !important;
  text-transform: uppercase !important;
  letter-spacing: 0.5px !important;
  background-color: #2185d0 !important;
  color: white !important;
  border-radius: 4px !important;
  @media screen and (max-width: 480px) { 
    font-size: .5rem !important;
    margin-left: 1rem !important;
  }
}

@media (max-width: 1024px) {
  .hiddenOnMobile {
    display: none !important;
  }
}
