.flip_card {
  background-image: url("./cardBack.png");
  background-size: 100% 100%;
  font-size: 0;
}

.normal_face {
  background: initial;
  color: initial;
}
.flip_image {
  z-index: -1;
}
.normal_image {
  z-index: 1;
}
.playerLabel {
  margin-top: 8.5rem;
  text-align: center;
  font-size: x-large;
  font-family: monospace;
  font-variant-caps: all-petite-caps;
  color: black;
}
