.flip_card {
  background: black;
  color: black;
  border: 0.3rem solid white;
}

.normal_face {
  background: initial;
  color: initial;
}
.flip_image {
  z-index: -1;
}
.normal_image {
  z-index: 1;
}
.playerLabel {
  margin-top: 8.5rem;
  text-align: center;
  font-size: x-large;
  font-family: monospace;
  font-variant-caps: all-petite-caps;
  color: #5c5c5c;
}
