.footer {
  position: fixed;
  text-align: center;
  opacity: 0.5;
  bottom: 0.5rem;
  right: 1%;
  font-size: x-small;
  color: whitesmoke;
}

@media only screen and (max-width: 480px) {
  .footer {
    left: 25%;
    right: 25%;
  }
}
