.footer {
  position: fixed;
  text-align: center;
  opacity: 0.5;
  bottom: 0.5rem;
  right: 1%;
  font-size: x-small;
  color: whitesmoke;
  pointer-events: none;
  z-index: 0;
}

@media only screen and (max-width: 480px) {
  .footer {
    left: auto;
    right: 4px;
    bottom: 4px;
    text-align: right;
  }
}
